{% extends "base.html" %}
{% block main %}
  {% include "_header.html" %}
  {% include "_pulse.html" %}
  {% if persistent.settings.show_glance %}{% include "_glance.html" %}{% endif %}
  <div class="grid">
    <div class="col">
      {% include "_focus.html" %}
      {% include "_schedule.html" %}
      {% include "_week.html" %}
      {% include "_notes.html" %}
    </div>
    <div class="col">
      <div class="area-grid">
        {% include "_area_music.html" %}
        {% include "_area_youtube.html" %}
        {% include "_area_marketing.html" %}
        {% include "_area_social.html" %}
        {% include "_area_code.html" %}
        {% include "_area_ideas.html" %}
      </div>
    </div>
  </div>
{% endblock %}
